<%if !notice.blank?%>
  <div class="alert alert-danger alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<%end%>

<%= form_with(url: "/clientes/atualizar", method: "get") do |f| %>
  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome, value: @cliente.nome, class: "form-control", autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :email, "Email" %>
    <%= f.email_field :email, value: @cliente.email, class: "form-control", autocomplete: "email", required: true, readonly: true %>
  </div>

  <div class="field">
    <%= f.label :senha, "Senha" %>
    <%= f.password_field :senha, class: "form-control"%>
  </div>  

  <div class="actions">
    <%= f.submit "Salvar", class: "btn btn-primary" %>
  </div>
<% end %>

<%= link_to 'Voltar', clientes_path, class: "btn btn-link" %>