<h2 class="title-devise">Editar Perfil</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <% if !devise_error_messages!.blank? %>
    <%= devise_error_messages! %>
  <% end %>

  <div class="field">
    <%= f.label :nome %>
    <%= f.text_field :nome, class: "form-control", autofocus: true, required: true %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", readonly: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password, "Senha" %> <i>(deixe em branco se não quiser alterá-lo)</i>
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
    <% if @minimum_password_length %>
      <em>Mínimo de <%= @minimum_password_length %> caracteres</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmar Senha" %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :current_password, "Senha Atual"  %> <i>(É necessário informar a senha atual para confirmar suas alterações)</i>
    <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", required: true%>
  </div>

  <div class="actions text-center">
    <%= f.submit "Salvar alterações", class: "btn btn-primary" %><br>
    <%= link_to "Voltar", root_path, class: "btn btn-link m-t" %>
  </div>
<% end %>

<div class="text-center">
  <p><%= link_to "Cancelar minha conta", registration_path(resource_name), data: { confirm: "Tem certeza que quer nos abandonar? Pensei que a gente se dava bem!" }, method: :delete, class: "btn btn-link" %></p>
</div>