<h2 class="title-devise">Alterar sua senha</h2>
<p class="subtitle-devise">Mude sua senha e volte a ter acesso a sua conta.<p>
<div class="container-form-devise">
<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= f.hidden_field :reset_password_token %>
  <% if !devise_error_messages!.blank? %>
    <%= devise_error_messages! %>
  <% end %>
  <div class="field">
    <%= f.password_field :password, autofocus: true, autocomplete: "new-password", class: "form-control", placeholder: "Nova Senha" %>
    <% if @minimum_password_length %>
      <em>(No  mínimo de <%= @minimum_password_length %> caracteres.)</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Confirmar Senha" %>
  </div>

  <div class="actions  actions-devise">
    <%= f.submit "Salvar", class: "btn btn-primary btn-devise" %>
  </div>
<% end %>

<div class="text-center  m-t">
  <%= render "devise/shared/links" %>
</div>
