<h2 class="title-devise">Ops! Esqueceu sua senha?</h2>
<p class="subtitle-devise">Não se preocupe a gente te ajuda.<p>
<div class="container-form-devise">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="form-group">
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "E-mail para recuperação" %>
	  </div>

	  <div class="actions text-center">
	    <%= f.submit "Enviar instruções", class: "btn btn-primary  btn-devise" %>
	  </div>
	<% end %>
</div>
<div class="text-center m-t">
	<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
	  <%= link_to "Ainda não tem cadastro? Faça já o seu!", new_registration_path(resource_name) , class: "btn btn-link" %>
	<% end %>	
	<br>
	<%- if controller_name != 'sessions' %>
	  <%= link_to "Já possui uma conta? Faça login!", new_session_path(resource_name) , class: "btn btn-link" %>
	<% end %>

</div>

