<h2 class="title-devise">Ops! Esqueceu sua senha?</h2>
<p class="subtitle-devise">Não se preocupe a gente te ajuda.<p>
<div class="container-form-devise">
	<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
	  <%= render "devise/shared/error_messages", resource: resource %>

	  <div class="form-group">
	    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "E-mail para recuperação" %>
	  </div>

	  <div class="actions text-center">
	    <%= f.submit "Enviar instruções", class: "btn btn-primary  btn-devise" %>
	  </div>
	<% end %>
</div>
<div class="text-center m-t">
	<%= render "devise/shared/links" %>
</div>

