<p id="notice"><%= notice %></p>

<h1>Categorias</h1>
<div class="table-responsive">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Descrição</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @categorias.each do |categoria| %>
        <tr>
          <td><%= categoria.descricao %></td>
          <td><%= link_to '<i class="fa fa-search"></i> Ver'.html_safe, categoria , class: "btn btn-default"%></td>
          <td><%= link_to '<i class="fa fa-edit"></i> Editar'.html_safe, edit_categoria_path(categoria), class: "btn btn-default" %></td>
          <td><%= link_to '<i class="fa fa-trash"></i> Deletar'.html_safe, categoria, method: :delete, data: { confirm: 'Você tem certeza que deseja realizar essa operação?' } , class: "btn btn-default"%></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to '<i class="fa fa-plus"></i> Novo'.html_safe, new_categoria_path, class: "btn btn-default" %>
