<%= form_with(model: produto, local: true, html: { multipart: true } ) do |form| %>
  <% if produto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(produto.errors.count, "error") %> prohibited this produto from being saved:</h2>

      <ul>
      <% produto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :foto %>
    <%= form.file_field :foto, class: "form-control" %>
  </div>

  <div class="field">
    <%= form.label :nome %>
    <%= form.text_field :nome, class: "form-control", :required => true  %>
  </div>

  <div class="field">
    <%= form.label :descricao, "Descrição" %>
    <%= form.text_area :descricao, class: "form-control", :required => true  %>
  </div>

  <div class="field">
    <%= form.label :preco, "Preço (R$)" %>
    <%= form.text_field :preco, class: "form-control moeda", :required => true  %>
  </div>

  <div class="field">
    <%= form.label :categoria_id, "Categoria" %>
    <%= form.select :categoria_id, @categoria.collect {|u| [u.descricao, u.id]}, {:prompt => 'Selecione...'}, class: "form-control", :required => true  %>
  </div>

  <div class="actions">
    <%= form.submit "Salvar", class: "btn btn-primary"%>
  </div>
<% end %>
