<%if !notice.blank?%>
  <div class="alert alert-success alert-dismissible fade in">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <%= notice %>
  </div>
<%end%>

<p>
  <strong>Nome:</strong>
  <%= Usuario.find(@funcionario.usuario).nome %>
</p>

<p>
  <strong>Login:</strong>
  <%= @funcionario.usuario %>
</p>

<p>
  <strong>Salário (R$):</strong>
  R$ <%= @funcionario.salario.blank? ? "0.0" : number_with_precision(@funcionario.salario.blank? ? "0.0" : @funcionario.salario, :precision => 2, separator: ",", :delimiter => '.')%>
</p>

<%= link_to 'Editar', edit_funcionario_path(@funcionario), class: "btn btn-link" %> |
<%= link_to 'Voltar', funcionarios_path, class: "btn btn-link" %>
