<nav class="navbar navbar-default">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/" class="navbar-brand" style="background-color: #FAA33F; color: white">Ecommerce</a>
    </div>
        <!-- Collection of nav links, forms, and other content for toggling -->
        <div id="navbarCollapse" class="collapse navbar-collapse">
        <%if !current_usuario.blank? && current_usuario.admin?%>
            <ul class="nav navbar-nav">
                <li class="<%= is_active_controller('categorias')%>"><a href="/categorias">Categorias</a></li>
                <li class="<%= is_active_controller('produtos')%>"> <a href="/produtos">Produtos</a></li>
                <li class="<%= is_active_controller('funcionarios')%>"> <a href="/funcionarios">Funcionários</a></li>
                <li class="<%= is_active_controller('clientes')%>"> <a href="/clientes">Clientes</a></li>
                <li class="<%= is_active_controller('compras')%>"> <a href="/compras">Compras</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="qtd-carrinho"></span> <a data-toggle="modal" id="open-carrinho" class="btn btn-sm btn-link" data-target="#carrinho"><i class="fa fa-shopping-cart"></i> Compra Presencial</a></li>
                <li><%= link_to '<i class="fa fa-user"></i> Perfil'.html_safe, edit_usuario_registration_path%></li>
                <li><%= link_to '<i class="fa fa-sign-out"></i> Sair'.html_safe, destroy_usuario_session_path, :method => :delete %></li>
            </ul>
        <%elsif !current_usuario.blank? %>
            <ul class="nav navbar-nav">
                <li class="<%= is_active_action('minhas_compras')%>"> <a href="/compras/minhas_compras">Minhas Compras</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="qtd-carrinho"></span> <a data-toggle="modal" id="open-carrinho" class="btn btn-sm btn-link" data-target="#carrinho"><i class="fa fa-shopping-cart"></i> Carrinho</a></li>
                <li><%= link_to '<i class="fa fa-user"></i> Perfil'.html_safe, edit_usuario_registration_path%></li>
                <li><%= link_to '<i class="fa fa-sign-out"></i> Sair'.html_safe, destroy_usuario_session_path, :method => :delete %></li>
            </ul>
        <%else%>
            <ul class="nav navbar-nav navbar-right">
                <li><span class="qtd-carrinho"></span>  <a data-toggle="modal" id="open-carrinho" data-target="#carrinho" class="btn btn-sm btn-link"><i class="fa fa-shopping-cart" ></i> Carrinho</a></li>
                <li><%= link_to "Cadastre-se", new_usuario_registration_path %></li>
                <li><%= link_to "Entrar", new_usuario_session_path %></li>
            </ul>
        <%end%>
    </div>
</nav>

<div class="alert-add-item" id="aviso" style="display: none;"> <span> Novo produto adicionado ao carrinho </span></div>

<%= render 'produtos/modal_carrinho' %>
